<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const blocks = document.querySelectorAll('pre code.language-mermaid, pre code[data-lang="mermaid"]');
    if (blocks.length > 0) {
        import('https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs').then((mermaidModule) => {
            const mermaid = mermaidModule.default;
            mermaid.initialize({ 
                startOnLoad: false,
                theme: document.body.className.includes('dark') ? 'dark' : 'default'
            });
            
            blocks.forEach((block) => {
                const mermaidDiv = document.createElement('div');
                mermaidDiv.classList.add('mermaid');
                mermaidDiv.textContent = block.textContent;
                block.parentElement.replaceWith(mermaidDiv);
            });
            
            mermaid.run({
              querySelector: '.mermaid',
            });
        });
    }
  });
</script>
